# Ignore all .env files
*.env
api/.env

# Ignore data folder and its contents
data/law_docs/*.pdf
data/law_docs/*.docx

# Ignore Python cache and logs
__pycache__/
*.pyc
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

